{
  "name": "<%name%>",
  "version": "1.0.0",
  "description": "<%desc%>",
  "main": "index.js",
  "scripts": {
    "dev": "nodemon index.ts",
    "gen:module":"espressive --gen",
    "build":"espressive build"
  },
  "keywords": [],
  "author": "",
  "license": "ISC"
}
